@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";
@import "./file_browser";

.app-version {
  display: none;
}

html {
  color: $elv-color-text-dark;
  font-size: 16px;
}

body,
.app,
.app-container,
main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

.app-container {
  align-items: center;
  margin: $elv-spacing-s;
}

h1 {
  font-size: $elv-font-xxl;
  font-weight: 400;
  text-align: center;
}

button {
  svg {
    stroke: $elv-color-darkergray;

    &:hover {
      stroke: $elv-color-black;
    }
  }
}

.preview-icon {
  cursor: pointer;
  padding: $elv-spacing-xxs;

  &:hover {
    stroke: $elv-color-black;
  }
}

.video-preview-icon {
  &.video-preview-icon-playing {
    svg {
      stroke: $elv-color-mediumblue;
    }
  }
}

.video-preview {
  max-width: 100%;

  video {
    width: 100%;
  }
}

.content-browser {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $elv-spacing-l;

  .browser-container {
    width: 25rem;
  }

  .browser {
    display: flex;
    flex-direction: column;
  }

  .browser-filter {
    margin-bottom: $elv-spacing-xs;
    width: 100%;
  }

  .back {
    margin-bottom: $elv-spacing-s;
  }

  h2 {
    font-weight: 400;
    margin-bottom: $elv-spacing-s;
  }

  h3 {
    margin: $elv-spacing-xs 0;
    text-align: center;

  }

  h4 {
    color: $elv-color-text-light;
    margin: $elv-spacing-s 0 $elv-spacing-xs;
    text-align: center;
  }

  ul {
    li {
      border: 1px solid $elv-color-gray;
      border-radius: 3px;
      margin-bottom: $elv-spacing-xxs;
    }

    button {
      @include elv-ellipsis;
      background: transparent;
      border: 0;
      cursor: pointer;
      font-size: $elv-font-m;
      height: 100%;
      margin: 0;
      max-width: 100%;
      outline: 0;
      padding: $elv-spacing-xs;
      width: 100%;

      &:hover {
        background: $elv-color-mediumblue;
        color: $elv-color-white;
      }
    }
  }
}

.asset-form {
  max-width: 75rem;
  position: relative;
  width: 100%;
}

.asset-form-save-button {
  height: 30px;
  position: absolute;
  right: $elv-spacing-m;
  top: 0;
  width: 150px;

  &.-elv-button {
    &.-elv-button {
      background-color: $elv-color-lightblue;
      border: 1px solid $elv-color-lightblue;
    }

    &:not(:active) {
      &:hover {
        background-color: $elv-color-white;
        border: 1px solid $elv-color-mediumblue;
        color: $elv-color-mediumblue;
      }
    }
  }
}

.asset-form-section-container {
  align-items: center;
  border-bottom: 1px solid $elv-color-lightgray;
  display: flex;
  flex-direction: column;
  margin-top: $elv-spacing-m;
  padding: $elv-spacing-m $elv-spacing-m $elv-spacing-xl;

  &:last-child {
    border: 0;
  }

  button {
    max-width: 120px;
  }

  h3 {
    margin-bottom: $elv-spacing-m;
    text-align: center;
  }
}

.asset-info-container {
  width: 100%;
}


label {
  color: $elv-color-text-light;
}

select {
  width: 100%;
}

textarea {
  font-family: inherit;
  height: 7rem;
  padding: $elv-spacing-xxs;
}

input,
textarea {
  font-size: $elv-font-l;
}

.asset-form-input {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 7rem 1fr;
  margin-bottom: $elv-spacing-xs;
}

.asset-form-clips-container {
  padding-bottom: $elv-spacing-s;
  width: 100%;
}

.asset-form-clip {
  border: 1px solid $elv-color-lightgray;
  border-bottom: 0;
  display: flex;
  padding: $elv-spacing-xxs 0;
  position: relative;

  &:last-child,
  &.asset-form-clip-with-preview {
    border-bottom: 1px solid $elv-color-lightgray;
  }

  span {
    padding: $elv-spacing-xxs $elv-spacing-s;
  }

  .clip-title {
    flex-grow: 1;
  }

  .remove-button {
    height: $elv-font-xl;
  }
}

.asset-form-clip-actions {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-right: $elv-spacing-xs;
  position: absolute;
  right: 0;
  top: 0;

  & > * {
    margin: 0 $elv-spacing-xxs;
  }
}

.order-buttons-container {
  display: flex;
  flex-direction: column;
  font-size: $elv-font-m;

  .order-button {
    background: transparent;
    border: 0;
    color: $elv-color-mediumgray;
    cursor: pointer;

    &:hover {
      color: $elv-color-text-dark;
    }
  }

  .placeholder {
    &::after {
      content: ".";
      visibility: hidden;
    }
  }
}

.asset-form-images-container {
  max-width: 100%;
  padding-bottom: $elv-spacing-s;
  width: 100%;
}

.image-path {
  @include elv-ellipsis;
  font-size: $elv-font-s;
}

.asset-form-image-entry,
.asset-form-gallery-image-entry {
  align-items: center;
  display: grid;
  grid-column-gap: 1rem;
  padding: $elv-spacing-xxs;

  input {
    font-size: $elv-font-l;
  }

  button {
    height: $elv-font-xl;
  }

  textarea {
    font-size: $elv-font-m;
    height: 3.5rem;
  }
}

.asset-form-image-entry {
  grid-template-columns: 2rem 1fr 2fr 1.5rem 2rem;
}

.asset-form-gallery-image-entry {
  grid-template-columns: 2rem 2fr 3fr 2fr 1rem 1rem 1.5rem;
}

.asset-form-modal {
  .-elv-modal-content {
    max-height: 70%;
    max-width: 70%;
    min-height: 50%;
    min-width: 70%;
  }
}

