@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

.app-version {
  display: none;
}

html {
  color: $elv-color-text-dark;
  font-size: 16px;
}

body,
.app,
.app-container,
main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

.app-container {
  margin: $elv-spacing-s;
}

.content-browser {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .browser-container {
    width: 25rem;
  }

  .browser {
    display: flex;
    flex-direction: column;
  }

  .browser-filter {
    margin-bottom: $elv-spacing-xs;
    width: 100%;
  }

  .back {
    margin-bottom: $elv-spacing-s;
  }

  h3 {
    margin: $elv-spacing-xs 0;
    text-align: center;

  }

  h4 {
    color: $elv-color-text-light;
    margin: $elv-spacing-s 0 $elv-spacing-xs;
    text-align: center;
  }

  ul {
    li {
      border: 1px solid $elv-color-gray;
      border-radius: 3px;
      margin-bottom: $elv-spacing-xxs;
    }

    button {
      @include elv-ellipsis;
      background: transparent;
      border: 0;
      cursor: pointer;
      font-size: $elv-font-m;
      height: 100%;
      margin: 0;
      outline: 0;
      padding: $elv-spacing-xs;
      width: 100%;

      &:hover {
        background: $elv-color-mediumblue;
        color: $elv-color-white;
      }
    }
  }
}
