@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

.file-image-preview-tooltip {
  &.file-image-preview-tooltip {
    background: $elv-color-white;
    max-width: 25rem;
    opacity: 1;
  }

  .file-image-preview {
    opacity: 1;
    padding: $elv-spacing-xs;
    width: 100%;
  }
}

.file-browser {
  font-weight: 300;
  margin: $elv-spacing-s 0;
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;

  .preview-icon {
    cursor: pointer;

    &.preview-icon {
      padding: 0;
    }

    &:hover {
      stroke: $elv-color-black;
    }
  }

  button {
    &:hover {
      svg {
        color: $elv-color-mediumgray;
      }
    }
  }

  table {
    border: 1px solid $elv-color-lightgray;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  thead {
    height: 45px;
  }

  th {
    text-align: left;

    &.type-header {
      width: 40px;

      button {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    &.size-header {
      width: 5em;
    }
  }

  tr {
    border-top: 1px solid $elv-color-lightergray;
    height: 35px;

    &.selectable-file {
      cursor: pointer;

      &:hover {
        background: $elv-color-lightblue;
      }
    }

    &.directory {
      cursor: pointer;

      &:hover {
        background-color: $elv-color-lightestgray;
      }
    }

    td {
      @include elv-ellipsis;
      height: 35px;

      &.item-icon {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &.info-cell {
        padding-right: $elv-spacing-s;
        text-align: right;
      }

      .item-path {
        max-width: 150px;
      }
    }
  }
}

