// sass-lint:disable class-name-format

.odd {
  background-color: $elv-color-bg-light-dark;

  & > .actions {
    background-color: $elv-color-bg-white;
  }
}

.even {
  background-color: $elv-color-bg-white;
  border-left: 1px solid $elv-color-lightgray;

  & > .actions {
    background-color: $elv-color-bg-light-dark;
  }
}

.-elv-input {
  &.-elv-input {
    font-size: 0.9rem;
    grid-template-columns: 8rem 1fr;
    margin-bottom: $elv-spacing-xxs;

    & > input,
    & > select,
    & > textarea {
      border: 1px solid $elv-color-gray;
      max-width: 35rem;
      min-width: 35rem;
    }

    & > input,
    & > textarea {
      &:read-only {
        background: $elv-color-lightestgray;
      }
    }

    &.-elv-multi-select {
      max-width: 35rem;
      min-width: 35rem;
    }

    & > .password-input__container {
      max-width: 35rem;
      min-width: 35rem;
    }
  }

  label {
    align-items: center;
    display: flex;
    text-rendering: optimizeLegibility;
  }

  &.-elv-multi-select,
  &.-elv-textarea,
  &.json-labelled-field {
    label {
      align-items: flex-start;
      margin-top: $elv-spacing-xs;
      padding: 0;
    }
  }

  .checkbox-container {
    input {
      min-width: 0;
    }
  }
}

.file-input {
  align-items: center;
  border: 1px solid $elv-color-lightgray;
  display: flex;
  height: 3rem;
  max-width: 35rem;
  min-width: 35rem;
  padding: $elv-spacing-xs;
  position: relative;

  & > .file-path {
    @include elv-ellipsis;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 $elv-spacing-xs;

    &.empty {
      color: $elv-color-text-light;
      font-size: $elv-font-m;
    }
  }

  & > button,
  & > svg {
    height: $elv-spacing-l;
    min-height: $elv-spacing-l;
    min-width: $elv-spacing-l;
    padding: $elv-spacing-xxs;
    width: $elv-spacing-l;
  }

  .file-selection {
    & > button {
      height: $elv-spacing-m;
      width: $elv-spacing-m;
    }
  }
}

.embed-url-field {
  display: flex;

  .-elv-input {
    input {
      min-width: calc(35rem - 25px);
      width: 100%;
    }
  }

  button {
    padding: 3px;
    width: 25px;

    svg {
      max-width: 100%;
    }
  }
}

.ntp-selection-container {
  label {
    align-items: flex-start;
    padding-top: $elv-spacing-xs;
  }
}

.ntp-selection {
  display: flex;
  flex-direction: column;

  input {
    margin-top: $elv-spacing-xxs;
  }
}

.input-header {
  align-items: center;
  border-bottom: 1px solid $elv-color-lightgray;
  display: flex;
  font-size: 42px;
  font-weight: 200;
  justify-content: space-between;
  letter-spacing: 2px;
  margin: -20px 0 30px;

  padding: 80px 0 10px;
  text-align: left;

  a {
    color: $elv-color-mediumblue;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 0;
  }
}

.password-input {
  &__container {
    display: flex;
  }

  &__input {
    border: 1px solid $elv-color-gray;

    &:disabled {
      background: $elv-color-lightestgray;
      border: 1px solid $elv-color-gray;
    }
  }

  &__lock-button {
    background: $elv-color-white;
    border: 1px solid $elv-color-gray;
    cursor: pointer;
    height: 32px;
    margin-left: $elv-spacing-xxs;
    padding: 5px;
    width: 32px;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.list-field-container {
  // sass-lint:disable no-important
  margin: $elv-spacing-m 0 !important;

  & > label {
    align-items: flex-start;
    margin-top: $elv-spacing-xs;
    width: 100%;
  }

  & > div {
    align-items: center;
    display: flex;
    min-height: 100%;
  }

  .list-field {
    min-height: 100%;
  }

  .list-field-entry {
    padding: $elv-spacing-ss $elv-spacing-xl $elv-spacing-ss $elv-spacing-m;
    position: relative;
    width: max-content;

    &.subsection-field {
      padding-right: $elv-spacing-s;
    }

    &:not(.subsection-field) {
      &.even {
        border: 1px solid $elv-color-lightgray;
      }
    }

    &.tight {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      .-elv-input {
        grid-template-columns: 5rem 1fr;
      }

      label {
        width: 5rem;
      }

      input,
      select,
      textarea {
        max-width: 10rem;
        min-width: 10rem;
      }
    }

    label {
      height: 100%;
    }

    .actions {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: $elv-spacing-xxs;
      position: absolute;
      right: 0;
      top: 0;
      //border-radius: $elv-spacing-xxs;
    }
  }

  .info-list-icon {
    height: $elv-font-xxl;
  }

  .info-list-add-icon {
    &:not(:first-child) {
      margin-top: $elv-spacing-xs;
    }
  }
}

.array-list-container {
  label {
    margin-top: $elv-spacing-xs;
  }

  .list-field-entry {
    align-items: center;
    background-color: inherit;
    border: 0;
    display: flex;
    margin: 0;
    padding: $elv-spacing-xxs $elv-spacing-xl $elv-spacing-xxs 0;

    &.even {
      &.even {
        border: 0;
      }
    }
  }

  .actions {
    background-color: inherit;
  }
}

.hint-label {
  align-items: center;
  display: flex;
  width: 100%;

  svg {
    margin-left: $elv-spacing-xs;
    max-height: $elv-spacing-s;
    max-width: $elv-spacing-s;
    min-height: $elv-spacing-s;
    min-width: $elv-spacing-s;
    stroke: $elv-color-mediumgray;
  }
}

.hint-tooltip {
  &.hint-tooltip {
    max-width: unset;
    min-width: 0;
  }

  pre {
    background-color: transparent;
    border: 0;
    font-family: $elv-font-default;
    font-size: $elv-font-m;
    text-align: left;
  }

  code {
    display: inline-block;
  }
}

.text-editor-labelled-field {
  label {
    align-items: flex-start;
    padding-top: $elv-spacing-m;
  }
}

.text-editor-component {

  &--active {
    max-width: 800px;
    min-width: 800px;
  }

  .show-hide-button {
    padding: $elv-spacing-s 0;
  }

  .rich-text-editor {
    display: grid;
    grid-template-rows: 4rem 1fr;
    min-height: 300px;

    input,
    select {
      min-width: unset;
      width: unset;
    }

    // sass-lint:disable force-attribute-nesting no-qualifying-elements
    input[type="checkbox"] {
      height: unset;
    }

    // sass-lint:disable class-name-format
    .DraftEditor-root {
      height: 100%;
      max-height: 500px;
      max-width: 100%;
      overflow-y: scroll;

      * {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
      }

      a {
        color: $elv-color-mediumblue;
      }

      h1,
      h2,
      h3,
      h4 {
        * {
          font-weight: normal;
          letter-spacing: 0.09em;
          line-height: 1.5em !important;
          text-align: left;
          text-decoration: none;
        }
      }

      h1 {
        * {
          font-size: 48px;
          font-weight: 300;
          line-height: unset;
        }
      }

      h2 {
        * {
          font-size: 32px;
          line-height: unset;
        }
      }

      h3 {
        * {
          font-size: 24px;
          line-height: unset;
        }
      }

      h4 {
        * {
          font-size: 20px;
          line-height: unset;
        }
      }

      blockquote {
        border: 0;
        color: $elv-color-black;
        font-style: italic;
        font-weight: 300;
        margin: 20px 2em;
      }

      ul {
        display: unset;
        list-style-type: circle;
      }

      li {
        font-size: 16px;
        padding-left: 5px;
      }
    }
  }
}
